.site-header {
    padding-top: 15px;
    min-height: 55.95px;
    position: relative;
    background-color: var(--primary-header-bg-color);

    img {
        box-shadow:unset;
    }

    @media screen and (max-width: 600px) {
        padding-bottom: 15px;
        border-bottom: 1px solid #e8e8e8;
    }
}


.site-nav {
    border-bottom: 2px solid #e8e8e8;
    background-color: var(--primary-header-bg-color);

    .nav-trigger {
        display: none;
    }
    .menu-icon {
        display: none;
    }
    .page-link {
        color: #333;
        line-height: 1.5;
    }
    .page-link:not(:last-child) {
        margin-right: 20px;
    }
}

@media screen and (min-width: 600px) {
    .trigger {
        float: right;
        padding: 20px 0 0 45px;
    }
}

@media screen and (max-width: 600px) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right;
    }
    .site-nav label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
    }
    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }
    .site-nav .menu-icon > svg {
        fill: rgb(66.25, 66.25, 66.25);
    }
    .site-nav input ~ .trigger {
        clear: both;
        display: none;
    }
    .site-nav input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
    }
    .site-nav .page-link {
        display: block;
        margin-left: 20px;
        padding: 5px 10px;
    }
    .site-nav .page-link:not(:last-child) {
        margin-right: 0;
    }
}
